<div class="timer__interface">
    <app-developer-theme *ngIf="theme === 'developer'" [attentionRequired]="attentionRequired" [darkMode]="darkMode" [ticks]="ticks" [state]="state" [totalTicks]="totalTicks"></app-developer-theme>
    <app-digital-theme *ngIf="theme === 'digital'" [attentionRequired]="attentionRequired" [darkMode]="darkMode" [ticks]="ticks" [state]="state" [totalTicks]="totalTicks"></app-digital-theme>
    <app-google-theme *ngIf="theme === 'google'" [attentionRequired]="attentionRequired" [darkMode]="darkMode" [ticks]="ticks" [state]="state" [totalTicks]="totalTicks"></app-google-theme>
    <app-sandclock-theme *ngIf="theme === 'sandclock'" [attentionRequired]="attentionRequired" [darkMode]="darkMode" [ticks]="ticks" [state]="state" [totalTicks]="totalTicks"></app-sandclock-theme>
</div>