<div class="settings__open-button" [ngClass]="{'dark': darkMode}" (click)="openSettings()"></div>

<div class="settings__panels" [ngClass]="{'hidden': settingClosed, 'shown': !settingClosed, 'dark': darkMode}">

  <div class="settings__panel">
    <div class="settings__panel__header">Settings</div>
    <div class="settings__panel__list-container">
      <div class="settings__panel__list-item">
        <div class="settings__panel__list-item-label">Dark mode</div>
        <div class="settings__panel__list-item-value">
          <app-switch (toggled)="darkModeToggled($event)" [value]="darkMode" [darkMode]="darkMode"></app-switch>
        </div>
      </div>
      <div class="settings__panel__list-item">
        <div class="settings__panel__list-item-label">Play sound</div>
        <div class="settings__panel__list-item-value">
          <app-switch (toggled)="soundToggled($event)" [value]="useSound" [darkMode]="darkMode"></app-switch>
        </div>
      </div>
      <div class="settings__panel__list-item" [ngClass]="{'disabled': !useSound}">
        <div class="settings__panel__list-item-label">Time's Up sound</div>
        <div class="settings__panel__list-item-value">
          <div class="select form__select is-small pull-left" [ngClass]="{'form__select--disabled': !useSound}">
            <select [disabled]="!useSound" [(ngModel)]="selectedSound" (change)="soundChange($event)">
              <option *ngFor="let sound of sounds" [value]="sound.key">{{ sound.label }}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="settings__panel__list-item" [ngClass]="{'settings__panel__list-item--disabled': !useSound}">
        <div class="settings__panel__list-item-label">Theme</div>
        <div class="settings__panel__list-item-value">
          <div class="select form__select is-small pull-left">
            <select (change)="themeChange($event)" [(ngModel)]="selectedTheme">
              <option *ngFor="let theme of themes" [value]="theme.key">{{ theme.label }}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="settings__panel">
    <div class="settings__panel__header">Time Presets</div>
    <div class="settings__blank_container">
      <div class="form__buttons">
        <app-preset-button class="form__button--square" label="1m" (clicked)="setTime(60)"
          [disabled]="shouldDisableTimeSetButton()" [ngClass]="{'disabled':shouldDisableTimeSetButton()}">
        </app-preset-button>
        <app-preset-button class="form__button--square" label="2m" (clicked)="setTime(120)"
          [disabled]="shouldDisableTimeSetButton()" [ngClass]="{'disabled':shouldDisableTimeSetButton()}">
        </app-preset-button>
        <app-preset-button class="form__button--square" label="3m" (clicked)="setTime(180)"
          [disabled]="shouldDisableTimeSetButton()" [ngClass]="{'disabled':shouldDisableTimeSetButton()}">
        </app-preset-button>
        <app-preset-button class="form__button--square" label="5m" (clicked)="setTime(300)"
          [disabled]="shouldDisableTimeSetButton()" [ngClass]="{'disabled':shouldDisableTimeSetButton()}">
        </app-preset-button>
        <app-preset-button class="form__button--square" label="10m" (clicked)="setTime(600)"
          [disabled]="shouldDisableTimeSetButton()" [ngClass]="{'disabled':shouldDisableTimeSetButton()}">
        </app-preset-button>
        <app-preset-button class="form__button--square" label="20m" (clicked)="setTime(1200)"
          [disabled]="shouldDisableTimeSetButton()" [ngClass]="{'disabled':shouldDisableTimeSetButton()}">
        </app-preset-button>
        <app-preset-button class="form__button--square" label="30m" (clicked)="setTime(1800)"
          [disabled]="shouldDisableTimeSetButton()" [ngClass]="{'disabled':shouldDisableTimeSetButton()}">
        </app-preset-button>
        <app-preset-button class="form__button--square" label="60m" (clicked)="setTime(3600)"
          [disabled]="shouldDisableTimeSetButton()" [ngClass]="{'disabled':shouldDisableTimeSetButton()}">
        </app-preset-button>
      </div>
    </div>
  </div>

  <div class="settings__panel">
    <div class="settings__panel__header">Custom Timers</div>
    <div class="settings__blank_container">
      <div class="form__buttons">
        <div class="form__button--square" [ngClass]="{'disabled': shouldDisableTimeSetButton()}"
          (click)="openCustomModal()">
          <div class="icon add-icon"></div>
        </div>
        <div class="form__button--custom-timer" [ngClass]="{'disabled': shouldDisableTimeSetButton()}" *ngFor="let customTimer of customTimers; index as idx" (click)="setTime(customTimer)">
          {{ customTimer | toTime }} <div class="form__button--custom-timer-delete" (click)="deleteTime(idx)"><div class="icon remove"></div></div>
        </div>
      </div>
    </div>
  </div>

  <div class="settings__close-button" (click)="closeSettings()"></div>
</div>


<app-custom-time-modal [closed]="customModalClosed" (close)="onTimerModalClosed()" (submit)="onCreateCustomTime($event)"></app-custom-time-modal>
