<div class="timer__controller" [ngClass]="{'dark': darkMode}">
  <div class="controller-panel">
    <div class="buttons">
      <div class="button" (click)="start()"
        [ngClass]="{'is-hidden': !shouldShowPlayButton(), 'disabled': shouldDisablePlayButton()}">
        <div class="icon play-icon"></div>
      </div>
      <div class="button" (click)="resume()"
        [ngClass]="{'is-hidden': !shouldShowResumeButton(), 'disabled': shouldDisableResumeButton()}">
        <div class="icon resume-icon"></div>
      </div>
      <div class="button" (click)="pause()" [ngClass]="{'disabled': shouldDisablePauseButton()}">
        <div class="icon pause-icon"></div>
      </div>
      <div class="divider"></div>
      <div class="button" (click)="stop()" [ngClass]="{'disabled': shouldDisableStopButton()}">
        <div class="icon stop-icon"></div>
      </div>
    </div>
  </div>
</div>
