/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap')
@import '../node_modules/bulma/css/bulma.css'
@import './assets/sass/_colors'
@import './assets/sass/_variables'

@mixin square-button($size, $font-size)
    width: $size
    height: $size
    line-height: $size !important
    font-size: $font-size !important

$app-padding: 1.4rem

$container-radius: 10px
$container-padding: 1rem

$element-radius: 5px

$default-drop-shadow: none
$disabled-color-light: $light-gray-2

$primary-font-family: 'Montserrat', sans-serif

$primary-background-light: $light-gray-6
$primary-background-dark: $dark-gray-6

$secondary-background-light: $light-gray-4
$secondary-background-dark: $dark-gray-1
$secondary-text-color-light: $dark-gray-6
$secondary-button-background-light: transparent
$secondary-button-label-light: $light-gray-0
$secondary-button-label-light--hovered: $light-pink
$secondary-button-label-light--disabled: $light-gray-2
$secondary-button-background-divider-light: $light-gray-2

$tertiary-background-light: $lighten-5
$tertiary-background-dark: $dark-gray-3
$tertiary-text-color-light: $light-gray-0
$tertiary-text-size: 0.9rem
$tertiary-text-weight: 500
$tertiary-header-color-light: $light-gray-0
$tertiary-header-size: 0.8rem
$tertiary-button-label-size: 1rem
$tertiary-button-label-weight: 600
$tertiary-button-size: 3rem
$tertiary-button-background-light: $light-gray-6
$tertiary-button-label-light: $light-gray-0
$tertiary-button-label-light--hovered: $light-pink
$tertiary-button-label-light--disabled: $light-gray-2

$setting-panel-toggle-button-size: 2rem

$form-checkbox-size: 1.2rem
$form-checkbox-inner-padding: 0.12rem
$form-checkbox-color: $light-gray-2
$form-checkbox-color--checked: $light-pink
$form-dropdown-trigger-color: $light-gray-2
$form-dropdown-trigger-color--hovered: $light-pink
$form-dropdown-text-color: $light-gray-0
$form-dropdown-text-size: 0.7rem

$setting-panel-open-button-color: $light-gray-0
$setting-panel-close-button-color: $light-gray-0
$setting-panel-open-button-color-light: $light-gray-2
$setting-panel-close-button-color-light: $light-gray-0

$timer-input-text-size: 5rem

.timer
    &__app
        height: 100vh
        width: 100vw
        padding: $app-padding
        background-color: $primary-background-light

        .timer
            &__controller
                position: absolute
                left: 50%
                bottom: $app-padding
                transform: translateX(-50%)
                padding: $container-padding
                background-color: $secondary-background-light
                border-radius: $container-radius
                box-shadow: $default-drop-shadow

                .buttons
                    display: flex
                    align-items: center

                    .button
                        background-color: $secondary-button-background-light
                        border: none

                        &:not(:last-child)
                            margin-right: 1rem

                        .icon
                            background-color: $secondary-button-label-light

                        &:not(:disabled):hover
                            .icon
                                background-color: $secondary-button-label-light--hovered

                        &.disabled
                            cursor: not-allowed
                            pointer-events: none
                            .icon
                                background-color: $secondary-button-label-light--disabled
                            &:hover
                                .icon
                                    background-color: $secondary-button-label-light--disabled

                    .divider
                        width: 0.2rem
                        height: 2.5rem
                        margin-right: 1rem
                        margin-bottom: 0.5rem
                        background-color: $secondary-button-background-divider-light
                        border-radius: 100000px

            &__settings
                position: absolute
                padding: $container-padding
                background-color: $secondary-background-light
                border-radius: $container-radius
                box-shadow: $default-drop-shadow
                width: 500px
                transition: all 0.6s ease-in-out
                top: calc(#{$app-padding} - #{$container-padding})

                &.hidden
                    opacity: 0
                    right: -500px
                    pointer-events: none

                &.shown
                    opacity: 1
                    right: calc(#{$app-padding} - #{$container-padding})
                    pointer-events: unset

            &__time-input
                &-panel
                    font-family: $primary-font-family
                    font-size: $timer-input-text-size
                    line-height: $timer-input-text-size
                    width: 40%
                    height: calc(2rem * 2 + #{$timer-input-text-size})
                    margin-left: auto
                    margin-right: auto
                    background-color: $tertiary-background-light
                    padding: 2rem
                    border-radius: $container-radius
                    overflow: hidden
                    display: flex
                    flex-direction: row

                    .digits
                        display: flex
                        flex-direction: column
                        height: $timer-input-text-size
                        overflow-y: scroll
                        -ms-overflow-style: none
                        scrollbar-width: none
                        font-family: $primary-font-family
                        font-size: $timer-input-text-size
                        line-height: $timer-input-text-size
                        scroll-snap-type: y mandatory

                        &::-webkit-scrollbar
                            display: none
                        
                        .digit
                            scroll-snap-align: start
                            justify-content: center
                            text-align: center
                            font-family: $primary-font-family
                            font-size: $timer-input-text-size
                            line-height: $timer-input-text-size

        .settings

            &__open_button
                position: absolute
                top: $app-padding
                right: $app-padding
                width: $setting-panel-toggle-button-size
                height: $setting-panel-toggle-button-size
                background-color: red
                mask-position: center center
                mask-repeat: no-repeat
                background-color: $setting-panel-open-button-color
                mask: url('/assets/icons/more.svg')
                cursor: pointer

            &__close_button
                position: absolute
                top: $container-padding
                right: $container-padding
                width: $setting-panel-toggle-button-size
                height: $setting-panel-toggle-button-size
                mask-position: center center
                mask-repeat: no-repeat
                background-color: $setting-panel-close-button-color
                mask: url('/assets/icons/close.svg')
                cursor: pointer

            &-panel
                margin-top: 1rem

                &__header
                    color: $tertiary-header-color-light
                    font-family: $primary-font-family
                    font-weight: 600
                    font-size: $tertiary-header-size
                    line-height: $tertiary-header-size
                    margin-bottom: 1rem
                
                &__list-container
                    position: relative
                    background-color: $tertiary-background-light
                    border-radius: 4px

                &__list-item
                    padding: 0.5rem 1rem
                    display: flex
                    justify-content: space-between
                    align-items: center
                    line-height: 1.5rem

                    &:not(:first-child)
                        border-top: 1px solid $secondary-background-light

                    &-label
                        color: $tertiary-text-color-light
                        font-weight: $tertiary-text-weight
                        font-family: $primary-font-family
                        font-size: $tertiary-text-size
                        -webkit-user-select: none
                        -ms-user-select: none
                        user-select: none

                    &-value
                        display: flex
                        justify-content: flex-end

                    &.disabled
                        pointer-events: none
                        *
                            color: $disabled-color-light

                &:first-child
                    margin-top: 0.5rem

        .form
            &__checkbox
                cursor: pointer
                position: relative
                line-height: calc((2 * #{$form-checkbox-inner-padding}) + #{$form-checkbox-size})

                .label
                    display: block
                    float: left
                    margin-left: 0.25rem
                    top: calc(-1 * (((2 * #{$form-checkbox-inner-padding}) + #{$form-checkbox-size}) * 0.15))
                    line-height: calc((2 * #{$form-checkbox-inner-padding}) + #{$form-checkbox-size})

                input[type="checkbox"]
                    position: absolute
                    opacity: 0

                input[type="checkbox"]:not(:checked)
                    & + .toggler

                        // check container
                        &::before
                            width: calc(2 * (#{$form-checkbox-inner-padding} + #{$form-checkbox-size}))
                            height: calc((2 * #{$form-checkbox-inner-padding}) + #{$form-checkbox-size})
                            background-color: $form-checkbox-color
                            content: " "
                            display: block
                            border-radius: $checkbox-radius
                            float: left
                            margin-top: 2px
                            margin-bottom: 2px

                        // check button
                        &::after
                            width: $form-checkbox-size
                            height: $form-checkbox-size
                            content: " "
                            display: block
                            float: left
                            background-color: $light-gray-6
                            border-radius: calc(#{$checkbox-radius} / 2)
                            margin-top: calc(2px + #{$form-checkbox-inner-padding})
                            margin-left: calc((-1 * 2 * (#{$form-checkbox-inner-padding} + #{$form-checkbox-size})) + #{$form-checkbox-inner-padding})

                input[type="checkbox"]:checked
                    & + .toggler
                        // check container
                        &::before
                            width: calc(2 * (#{$form-checkbox-inner-padding} + #{$form-checkbox-size}))
                            height: calc((2 * #{$form-checkbox-inner-padding}) + #{$form-checkbox-size})
                            background-color: $form-checkbox-color--checked
                            content: " "
                            display: block
                            border-radius: $checkbox-radius
                            float: left
                            margin-top: 2px
                            margin-bottom: 2px

                        // check button
                        &::after
                            width: $form-checkbox-size
                            height: $form-checkbox-size
                            content: " "
                            display: block
                            float: left
                            background-color: $light-gray-6
                            border-radius: calc(#{$checkbox-radius} / 2)
                            margin-top: calc(2px + #{$form-checkbox-inner-padding})
                            margin-left: calc(-1 * (#{$form-checkbox-inner-padding} + #{$form-checkbox-size}))

            &__select
                font-weight: $tertiary-text-weight
                font-family: $primary-font-family
                font-size: $form-dropdown-text-size
                line-height: $form-dropdown-text-size

                &:not(.is-multiple):not(.is-loading):not(:hover)
                    &::after
                        border-color: $form-dropdown-trigger-color

                &:not(.is-multiple):not(.is-loading):hover
                    &::after
                        border-color: $form-dropdown-trigger-color--hovered

                &--disabled
                    pointer-events: none
                    &:not(.is-multiple):not(.is-loading):not(:hover)
                        &::after
                            border-color: $disabled-color

                    &:not(.is-multiple):not(.is-loading):hover
                        &::after
                            border-color: $disabled-color

            &__buttons
                display: flex
                justify-content: flex-start
                flex-wrap: wrap

            &__button
                &--square
                    display: flex
                    align-items: center
                    justify-content: center
                    margin-bottom: 0.5rem
                    width: $tertiary-button-size
                    height: $tertiary-button-size
                    line-height: calc(#{$tertiary-button-label-size} * 1.2) !important
                    font-size: $tertiary-button-label-size !important
                    text-align: center
                    font-family: $primary-font-family
                    font-weight: $tertiary-button-label-weight
                    background-color: $tertiary-button-background-light
                    border-radius: $element-radius
                    cursor: pointer
                    color: $tertiary-button-label-light

                    &:hover
                        color: $tertiary-button-label-light--hovered

                    &:not(:last-child)
                        margin-right: 0.5rem

                    .icon
                        mask-size: 1rem
                        mask-repeat: no-repeat
                        mask-position: center center
                        background-color: $tertiary-button-label-light
                    &:not(:disabled):hover
                        .icon
                            background-color: $tertiary-button-label-light--hovered

                    &.disabled
                        cursor: not-allowed
                        pointer-events: none
                        color: $tertiary-button-label-light--disabled
                        .icon
                            background-color: $tertiary-button-label-light--disabled
                        &:hover
                            .icon
                                background-color: $tertiary-button-label-light--disabled


// Dark Theme
.timer
    &__app
        &--dark
            background-color: $primary-background-dark
            .timer
                &__controller
                    background-color: $secondary-background-dark
                &__settings
                    background-color: $secondary-background-dark
            .settings
                &__open_button
                    background-color: $setting-panel-open-button-color-light
                &__close_button
                    background-color: $setting-panel-close-button-color-light

.icon
    width: 100%
    height: 100%
    mask-position: center center
    mask-repeat: no-repeat

    &.add-icon
        mask: url('/assets/icons/add.svg')

    &.play-icon
        mask: url('/assets/icons/play.svg')

    &.resume-icon
        mask: url('/assets/icons/play.svg')

    &.pause-icon
        mask: url('/assets/icons/pause.svg')

    &.stop-icon
        mask: url('/assets/icons/stop.svg')

@keyframes slideIn
  from
    transform: translate(100% 100%)

  to
    transform: translate(0% 0%)
