$active-color: $dark-cyan
$active-color--pair: $light-gray-6
$inactive-color: $dark
$inactive-color--pair: $light-gray-6

$timer-panel-color: $light-gray-6
$timer-interface-color: $light-gray-6
$timer-controller-color: $light-gray-5
$timer-panel-splitter-color: $light-gray-3

$panel-label-color: #444
$panel-label-font-size: 0.8rem
$panel-label-font-family: 'Montserrat', sans-serif

$preset-button-label-font-family: 'Montserrat', sans-serif
$preset-button-label-font-size-large: 1.25rem
$preset-button-label-font-size-regular: 1rem
$preset-button-label-font-size-small: 0.75rem
$preset-button-label-font-size-tiny: 0.6rem
$preset-button-label-color: $inactive-color
$preset-button-label-color--hover: $inactive-color--pair
$preset-button-color: $active-color--pair
$preset-button-color--hover: $active-color
$preset-button-size-tiny: 1.6rem
$preset-button-size-small: 2.2rem
$preset-button-size-regular: 3.2rem
$preset-button-size-large: 4rem
$preset-button-radius: 4px

$checkbox-size: 1.25rem
$checkbox-button-padding: 0.125rem
$checkbox-color: $inactive-color
$checkbox-color--checked: $active-color
$checkbox-radius: 4px

$settings-panel-color: $light-gray-6
$settings-item-label-font-size: 1rem